{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Covid Traveler Warning</title>
	<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
	<header id="header">
		<ul>
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'news' %}">News</a></li>
			<li><a href="{% url 'contactus' %}">Contact</a></li>
			<li><a href="{% url 'search' %}">Search</a></li>			
			<li><a href="{% url 'about' %}">About</a></li>
			<li><a href="{% url 'us_states' %}">US States</a></li>
		</ul>
	</header>

	{% block content %}

	<h1 class="headings">Welcome to COVID Traveler Warning</h1>
	<h2 class="headings">Where would you like to travel?</h2>

	<form action="" method="post" class="forms">
		{%csrf_token%}
		<select>
			<option disabled="true" selected>Select State</option>
			{% for results in UsZipFips  %}
				<option>{{ results.state }}</option>
			{% endfor %}
		</select><br>
		{{ form }}
		<br>
		<br>
		<input type="submit">
	</form>
	{% autoescape off %}

		<p>
			<img src="{{ graph1|safe }}"/>
			<img src="{{ graph2|safe }}"/>
		</p>

	{% endautoescape %}	

	{% endblock content %}

	<footer>
		<div class="footer">
			&reg; Penn State Great Valley
		</div>
	</footer>
	
</body>
</html>