
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Covid Traveler Warning</title>
	
</head>
<body>
	<header id="header">
		<ul>
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'news' %}">News</a></li>
			<li><a href="{% url 'contactus' %}">Contact</a></li>
			<li><a href="{% url 'about' %}">About</a></li>
		</ul>
	</header>

	{% block content %}

	<h1>Welcome to COVID Traveler Warning</h1>
	<h2>Where would you like to travel?</h2>

	{% endblock content %}

	<footer>
		&reg; Penn State Great Valley
	</footer>
	
</body>
</html>