/* Base HTML Template*/
{% load static %}
body{
	background-color: #118ab2;
  margin: 0;
  font-family: Harmonia Sans Pro,sans-serif;
}
input, textarea {
  display:block;
  margin: 10px;
}
#header{
  border-bottom: 5px solid #06d6a0;
  margin: 0 auto;
  background-color: white;
  padding: 20px; 
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;

}
.menu-master{
  flex-direction: row;
}
.site-header{
  display: block;
  margin: 0 auto;
}

#header a{ 
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  font-family: Harmonia Sans Pro,sans-serif;
  margin-right: 40px;
}

#header a:hover {
  color: #06d6a0;
}

.headings {
  padding: 0 0 0 30px;
}

.main-div-outer{
  margin: auto;
  display: flex;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: contain;
  width: 60%;
  height: 800px;
}
.main-div-inner{
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 150px auto 0 auto;
  position: relative;
  top: 4em;
  color: white;
  text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
  
}
.main-div-inner-inner{
  
   
}



.forms{
  padding: 0 0 0 30px;

}
label[for=id_zipCode]{
  font-size: 28px;
}

input[type=text], input[type=email], textarea  {
  border: 2px solid #06d6a0;
  border-radius: 4px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: black;
}
input[type="submit"]{
  background-color: #06d6a0;
  border: none;
  color: #073b4c;
  padding: 16px 62px;
  text-decoration: none;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}
#id_stateChoice{
  color: black;
}
#id_countyChoice{
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color: #073B4C;
}
.footer-boxes{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  text-align: center;

}
.box1{

}

/* Base Results Template*/
.results-outer{
  display:flex;
  justify-content: center;
  background-color: #ffd166;
}
.results{
  margin: 30px auto;
  padding: 20px;
}
.errorMessageSearchResults{
  padding: 100px 10px 20px 10px;
  font-size: 20px;
  color: black;
}
.mainTable{
  background-color: #ffd166;
}

.tableImages{
  width: 350px;
  height: auto;
  margin: 0 auto;
}

.table-text{
  padding: 10px;
}
.mainTable{
  margin: 0px auto;
}

/* Base About Template*/
.aboutOuter{
  padding: 150px 30px 300px 30px;
  background-color: #ffd166;
  
}

/* Base Contact Us Template*/

#contactusOuter {
  padding: 100px 30px 300px 30px;
  background-color: #ffd166;
}

/* Base News Template*/
.news-header{
  text-align: center;
  padding-top: 100px;
  font-size: 3.5em;
  font-family: Harmonia Sans Pro,sans-serif;
  margin: 0;
  color: #ffd166;
}
.news-header2{
  text-align: center;
  font-size: 2em;
  margin-top: 0;
  color: #ffd166;
}
.rows{
  padding: 30px 0px 30px 70px;
  font-size: 1.5em;
}
.rows a{
  text-decoration: none;
  display: inline-block;
  transition: all .2s ease-in-out; 
}
.row1{
  background-color: #F1F6F9;
}
.row1 a {
  color: black;
}
.row2{
   background-color: #394867;
   color: white;
}
.row2 a {
  color: white;
  
}
.rows a:hover {
  color: #06d6a0;
  transform: scale(1.2);
}

/*error template*/
.error{
  display:flex;
  justify-content: center;
  
}
.button1{
   background-color: #073B4C; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

/* Media Queries*/
@media screen and (max-width: 1200px){
  .fullWidth{
    width: 100% !important;
    min-width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0px !important;
    text-align: center !important;
  }
  /*class for hero images*/
  .hero{
    width: 100% !important;
    height: auto !important;
  }
  .footer{
    flex-direction: column;
    height: auto;
  }
  .footer-boxes{
    width: 100%;
    min-height: 200px;
  }
}

